<form (ngSubmit)="onSubmit()">
  
  <div>
    <label for="id">ID:</label>
    <input type="number" id="id" name="id" [(ngModel)]="certificado.id" required>
  </div>
  
  <div>
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" [(ngModel)]="certificado.nome" required>
  </div>
  
  <div>
    <label for="tecnologia">Tecnologia:</label>
    <input type="text" id="tecnologia" name="tecnologia" [(ngModel)]="certificado.tecnologia" required>
  </div>
  
  <div>
    <label for="url">URL:</label>
    <input type="text" id="url" name="url" [(ngModel)]="certificado.url" required>
  </div>

  <button type="submit"   routerLink="/inicio">Salvar </button>
</form>




  <table class="highlight"   *ngFor="let c of certificados">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Tecnologia</th>
        <th>Url</th>
        <td class="right">
        <a
          ><i class="material-icons my-icon-size" (click)="onEdit(c)" 
          [routerLink]= "['/custom-form/',c.id]"
            >edit</i
          ></a
        >
        <a
          ><i
            class="material-icons my-icon-size"
            (click)="onDelete(c.id)"
            >delete</i
          ></a
        >
      </td>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let c of certificados">
        <td>{{ c.id}}</td>
        <td>{{ c.nome }}</td>
        <td>{{ c.tecnologia }}</td>
        <td>{{ c.url}}</td>
        
      </tr>
    </tbody>
  </table>
  



