<!– conteudo –>
    <main>

        <span>{{ title }} app is running! - Atividade 13 </span>
        <br>

        <app-primeiro-modulo-subtitulo-inicial></app-primeiro-modulo-subtitulo-inicial>

        <!-- <app-segundo-modulo-list-certificados [dados]="dados"></app-segundo-modulo-list-certificados> -->

        <div>
            <p>Subscribe fica procurando resposta de StatusCode da Operação getAll = {{statusCode}}</p>
        </div>

        <app-certificado> </app-certificado>

        <br>
        <div *ngIf="showElement">
            <p>Este elemento está visível usando 'ngIf'!</p>
        </div>

    </main>