<p>quinto-componente-tela-edicao works! Nesta tela foi capturado o valor do ID na URL</p>

<p>Pegando id passado pela URL : {{ idParam }}</p>


<br>
<br>
<br>
<br>


<div class="left">
    <div class="row" >
        <div class="col-6">
            <button routerLink="/inicio" mat-button>Voltar </button>
        </div>
       
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-6">
            <button routerLink="/inicio" mat-button>Salvar </button>
        </div>
    </div>
</div>

<br>

<br>
